body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #000000;
}

header {
	font-size: 15px;
	font-family: arial;color: #FFFF00;
	
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: 20px;
	color: #FFFF00;

}
 
 .paragrafo {
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
 	align-items: center;
 	color: #FFFF00;
 }
